@tailwind base;

@layer base {
  button[type='submit'] {
    background-color: #1976d2;
  }
}
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
